# InFMon C / C++ formatting.
# Based on LLVM with VPP-friendly indentation.
---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
PointerAlignment: Right
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: true
ReflowComments: true
DerivePointerAlignment: false
